<button
  aria-label="Theme toggle"
  class="fixed bottom-3 right-3 z-10 inline-flex h-10 items-center justify-center rounded-lg bg-gray-100 px-3 text-gray-400 shadow-xl"
>
  <a target="_blank" href="https://github.com/KonradSzwarc/devscard">Powerered by: DevCards</a>
</button>
